.one_food{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    svg{
        color: gold;
        height: 50px;
        width: 50px;
    }
    button{
        padding: 20px 40px;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 40px;
        font-weight: bold;
        width: 100%;
    }
    .img{
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .rating{
        font-size: 40px;
        display: flex;
        align-items: center;
    }
    .price{
        font-size: 40px;
    }
}

@media (max-width:1290px) {
    .one_food{
      .img{
        img{
            width: 400px;
            height: 400px;
        }
      }  
    }
}
@media (max-width:953px) {
    .one_food{
        gap: 20px;
        .img{
            gap: 25px;
            img{
                width: 250px;
                height: 250px;
            }
        }
        .title{
            font-size: 30px;
        }
        .rating{
            font-size: 20px;
        }
        .price{
            font-size: 20px;
        }
        button{
            padding: 10px 20px;
        }
    }
}

@media (max-width:640px){
    .one_food{
        .img{
            display: flex;
            flex-direction: column;
            img{
                width: 200px;
                height: 200px;
            }
        }
        .title{
            gap: 20px;
            flex-direction: column;
        }
    }
}