.order{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    h2{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .order_item{
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        justify-content: space-between;
        font-size: 24px;
        .order_name {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 500px;
            img{
              height: 200px;
              width: 200px;
            }
        }
        @media (max-width:1025px) {
            .order_name{
                img{
                    height: 150px;
                    width: 150px;
                  }
            }
        }
    }
    @media (max-width:768px) {
        .order_item{
            .order_name{
                font-size: 20px;
                width: 300px;
                img{
                    height: 120px;
                    width: 120px;
                }
            }
            
        }
    }
    @media (max-width:530px) {
        .order_item{
            .order_name{
                font-size: 16px;
                width: 200px;
                img{
                    height: 100px;
                    width: 100px;
                }
            }
            
        }
    }

    .order_sum{
        border-top: 1px solid black;
        padding-top: 10px;
        font-size: 24px;
        display: flex;
        justify-content: space-around;
    }
    @media (max-width:768px) {
        .order_sum{
            font-size: 20px;
        }
    }

    
}


